* {
    font-family: "Geist", sans-serif;
}

.card-shadow {
    box-shadow: 2px 2px 4px 0px rgb(57, 32, 32, 0.1), -2px 0px 4px 0px rgb(57, 32, 32, 0.1);
}





/* .color-black {
    color: #1F2937;
} */

/* .color-gray {
    color: #64748B;
} */

/* .color-blue {
    color: #4A00FF;
} */